.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.header_logo__title {
  display: flex;
  flex-direction: column;
  color: #202020;
  font-size: 24px;
  margin-left: 20px;
}
.header_logo__subtitle {
  font-size: 16px;
}
