.report_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.report {
  max-width: 1000px;
  width: 100%;
  border-radius: 4px;
  padding: 16px;
  background-color: #ffffff;
}

.project_name {
  text-transform: capitalize;
  font-family: sans-serif;
  padding: 20px 0px;
}

.report_section__title {
  font-weight: bold;
  font-size: 16px;
}
.report_section__content {
  display: flex;
  flex-direction: column;
}
